{
  "presets": [
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
    // ,"closure-elimination"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": true,
      "retainLines": true
    }
  }
}